<!DOCTYPE html>
<html ng-app="ctm" ng-controller="AppCtrl">
    <head>
        <title>Continuing The Mission</title>
        <base href="/">

        <!--META TAGS-->
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <meta name="description" content="continuing the mission">
        <meta name="author" content="inspire">
        <meta name="superfish" content="nofish">
        <meta name="robots" content="index, follow">
		<meta name="revisit-after" content="1 Day">
		<link rel="canonical" href="http://www.inspire.com" />
        <!--META TAGS END-->

        <!--STYLES-->
        <link rel="stylesheet" href="/styles/css/animate.css">
        <link rel="stylesheet" href="/styles/css/bootstrap.css">
        <link rel="stylesheet" href="/styles/css/font-awesome.min.css">
        <link rel="stylesheet" href="/styles/css/home.css">
        <link rel="stylesheet" href="/styles/css/theme.css">
        <!--STYLES END-->

         <!--FONTS-->
        <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Jura">
        <!--FONTS END-->


    </head>
    <body>

        <%- body %>

        <!--SCRIPTS-->
        <script src="/bower_components/jquery/dist/jquery.min.js"></script>
        <script src="/bower_components/angular/angular.js"></script>
        <script src="/bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
        <script src="/bower_components/angular-ui-router/release/angular-ui-router.js"></script>
        <script src="/bower_components/sails.io.js/dist/sails.io.js"></script>
        <script src="/bower_components/angularSails/dist/ngsails.io.js"></script>
        <script src="/bower_components/lodash/lodash.js"></script>
        <script src="/bower_components/moment/moment.js"></script>
        <script src="/bower_components/angular-moment/angular-moment.js"></script>
        <script src="/bower_components/angular-google-maps/dist/angular-google-maps.js"></script>
        <script src="/bower_components/angular-scroll/angular-scroll.js"></script>
        <script src="/bower_components/bootstrap/dist/js/bootstrap.js"></script>
        <script src="/src/app/about/index.js"></script>
        <script src="/src/app/app.js"></script>
        <script src="/src/app/donate/index.js"></script>
        <script src="/src/app/home/index.js"></script>
        <script src="/src/app/veterans/index.js"></script>
        <script src="/src/app/volunteer/index.js"></script>
        <script src="/src/common/models/entry.js"></script>
        <script src="/src/common/models/index.js"></script>
        <script src="/src/common/models/user.js"></script>
        <script src="/src/common/services/config.js"></script>
        <script src="/src/common/services/index.js"></script>
        <script src="/src/common/services/lodash.js"></script>
        <script src="/src/common/services/title.js"></script>
        <script src="/src/common/services/utils.js"></script>
        <!--SCRIPTS END-->

        <!--TEMPLATES-->
        <script type="text/javascript" src="/templates.js"></script>
        <!--TEMPLATES END-->

    </body>
</html>